body {
    background: lightgray;
}

h1 {
    text-align: center;
    text-decoration-style: solid;
    font-family: 'Indie Flower', cursive;
    font-size: 130px;
    font-weight: 800;
    padding-top: 30px;
    margin-top: 40px;
}

h2 {
    font-family: 'Noticia Text', serif;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: purple;
    text-align: center;
    letter-spacing: 3px;
    font-size: 48px;
}

.form {
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    margin-right: 80px;
    /* align-content: flex-end; */
    padding-top: 80px;
    margin: 20px 0;    
}

#myCanvas {
    margin-left: 50px;
    margin-top: 20px;
    padding: 40px;
}


#inputWordTxt, #inputLetterTxt {
    background: fff;
    color: #000;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    padding: 5px 25px;
    margin-right: 0;
    padding-right: 0;
    border-radius: 10px;
}

#enterWordBtn, #enterLetterBtn {
    background: purple;
    color: #fff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Noticia Text', serif;
    padding: 10px 25px;
    border-radius: 10px;
}
#playGameSection {
    display: flex;
    justify-content: center;
}

button {
    background: purple;
    color: #fff;
    text-align: center;
    font-family: 'Noticia Text', serif;
    line-height: 40px;
    margin-top: 80px;
}

#playGameBtn {
    font-size: 50px;
    padding: 30px 160px;
    border-radius: 10px;

}
#enterWordTxt {
    border: solid green 2px;
}
#enterWordBtn {
    border: solid purple 2px;
}

#display {
    border: solid yellow 2px;
    padding: 40px;
}

.letterBox {
    /* border: solid red 2px; */
    display: none;
    /* visibility: hidden; */
    float: left;
    width: 100px;
    height: 50px;
    border-bottom: solid #000;
    margin: 10px;
}

.letters {
    border-bottom: solid #000;
}